@model IEnumerable<TechnologyBlogSolution.ViewModels.SubjectModels.ListSubjectView>
@{
    ViewBag.Title = "Index";
}

<div class="row">
@using (Html.BeginForm("SeedSubjects", "Seeder", FormMethod.Post))
{
    <label for="num-of-subjects">Number of subjects</label>
    <input id="num-of-subjects" class="form-control" type="number" name="NumberOfSubjects" min="0" />

    <input type="submit" value="Seed" class="btn btn-success" />
}
</div>
<div id="subjects-container" style="margin-top:5%" class="row">

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        getSubjectsForPage(0);
    });

    function getSubjectsForPage(pageNumber) {
        $.ajax({
            "url": "/Subject/SubjectsPartialPage",
            "dataType": "html",
            "data": { pageNumber: pageNumber },
            success: function (pageHtml) {
                $("#subjects-container").html(pageHtml);
            }
        })
    }
</script>