@model IEnumerable<TechnologyBlogSolution.ViewModels.SubjectModels.ListSubjectView>
@{
    ViewBag.Title = "Index";
}


<div id="subjects-container" style="margin-top:5%" class="row"> 
   
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        getSubjectsForPage(0);
    });

    function getSubjectsForPage(pageNumber)
    {
        $.ajax({
            "url" : "/Subject/SubjectsPartialPage",
            "dataType": "html",
            "data": { pageNumber : pageNumber },
            success: function (pageHtml)
            {
                $("#subjects-container").html(pageHtml);
            }
        })
    }
</script>