@model IEnumerable<TechnologyBlogSolution.ViewModels.SubjectModels.DetailsSubjectView>
@{
    ViewBag.Title = "Index";
}

<div style="text-align:center; margin-top:3%">
    <h2>Subjects</h2>
</div>
<hr />

<div class="row"> 
            @{
        foreach (var item in Model)
        {
            <div class="col-md-4" style="margin-bottom:3%">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="~/Subject/Posts/@item.Id" class="btn btn-primary btn-sm">Open</a>
                    </div>
                </div>
            </div>
}
            }
        </div>