@model TechnologyBlogSolution.ViewModels.SubjectModels.DetailsSubjectView

@{
    ViewBag.Title = "Posts";
}
<div style="text-align:center"><h3>@Model.Name</h3></div>
<div>@Model.Description</div>
<hr />  
<div id="posts-container" class="row">

</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        getSubjectsPosts(@Model.Id, 0);
    });

    function getSubjectsPosts(subjectId ,pageNumber)
    {
        $.ajax({
            "url": "/Post/Posts/",
            "dataType": 'html',
            "data": { subjectId : subjectId, pageNumber : pageNumber },
            success: function (postsPartialPage)
            {
                $("#posts-container").html(postsPartialPage);
            }
        })
    }

    function getPostsForPage(pageNumber)
    {
        getSubjectsPosts(@Model.Id, pageNumber);
    }
</script>