@model IEnumerable<TechnologyBlogSolution.ViewModels.PostModels.ListPostView>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Welcome to tech blog. we currently have <b id="subjects-count"></b> subjects, <b id="posts-count"></b> posts and <b id="comments-count"></b> comments.
    We are community of <b id="users-count"></b> users. 
</div>

<div class="row">

    <div class="col-md-8">
        <h2>Latest posts</h2>
        @foreach (var post in Model)
        {
            <div class="card" style="width:100%; margin-bottom:3%">
                <div class="card-body">
                    @post.Content
                </div>
                <div class="card-footer">
                    <div style="float:left; margin-right:3%">@post.Author.Name</div>
                    <div style="float:left">  @post.Timestamp</div>
                    <div style="float:right">
                        @Html.ActionLink("Open", "Open", "Post", new { id = post.Id }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div><h3>Latest comments</h3></div>
        <div id="latest-comments-containter">
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function showMore(postId) {
        $.ajax({
            "url": "/Post/GetPost?postId=" + postId,
            "dataType": "json",
            success: function (data) {
                $(`#list-post-${postId}`).val(data.Content);
            }
        })
    }

    $(document).ready(function () {
        $.ajax({
            "url": "/Comment/GetLatestCommentsPartial",
            "type": "get",
            success: function (data) {
                $("#latest-comments-containter").html(data);
            }
        })
    })

    $(document).ready(function ()
    {
        $.ajax({
            "url": "/Subject/CountSubjects",
            "type": "get",
            success: function (subjectsCount)
            {
                $("#subjects-count").html(subjectsCount);
            }
        });

        $.ajax({
            "url": "/Post/CountPosts",
            "type": "get",
            success: function (postsCount) {
                $("#posts-count").html(postsCount);
            }
        });

        $.ajax({
            "url": "/Comment/CountComments",
            "type": "get",
            success: function (commentsCount) {
                $("#comments-count").html(commentsCount);
            }
        });

        $.ajax({
            "url": "/Account/CountUsers",
            "type": "get",
            success: function (usersCount) {
                $("#users-count").html(usersCount);
            }
        });
    });
</script>